/* styles/globals.css */

/* body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
} */

ul {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  /* Responsive styles for tablets and mobile devices */
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  /* Responsive styles for smaller screens */
  body {
    font-size: 12px;
  }
}
